header, div, ul, li, p {
    list-style: none;
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}

body {
    background-color: grey;
}

.ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

li {
    background-color: white;
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    border-radius: 20px;
}
